#camera-feed {
    width: 100%; /* Adjust this value as needed */
    height: 100vh; /* Take up the full viewport height */
    display: flex; /* Use flex to center the .camera-container */
    justify-content: center;
    align-items: center;
}

.camera-container {
    position: relative; /* Make this relative so the canvas can be positioned absolutely within it */
    border-radius: 10px;
    width: 720px; /* Set the width and height to match the video and canvas */
    height: 560px;
}

.camera-container video, .camera-container canvas {
    position: absolute; /* Position the canvas and video absolutely */
    top: 0;
    left: 0;
    width: 720px;
    height: 560px;
}